<div class="page">
  <!-- Main Navbar-->
  <header class="header">
    <nav class="navbar">
      <!-- Search Box-->
      <div class="search-box">
        <button class="dismiss"><i class="icon-close"></i></button>
        <form id="searchForm" action="#" role="search">
          <input type="search" placeholder="What are you looking for..." class="form-control">
        </form>
      </div>
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">
              <div class="brand-text brand-big"><span>MIVANI</span></div>
              <div class="brand-text brand-small"><strong>E</strong></div>
            </a>
            <a id="toggle-btn" href="#" class="menu-btn active">
              <span></span><span></span><span></span></a>
          </div>
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
            <li class="nav-item d-flex align-items-center">
              <a id="search" href="#"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item">
              <a routerLink="/login" class="nav-link logout cursor-pointer"><i class="fa fa-power-off"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="page-content d-flex align-items-stretch">
    <nav class="side-navbar">
      <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="assets/usuario.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
          <h1 class="h4">{{auth.getUserName()}}</h1>
          <p>{{auth.getNombreTipoUser()}}</p>
        </div>
      </div>

      <span class="heading">Principal</span>

      <ul class="list-unstyled mb-0">
        <li class="active"><a routerLink="/"> <i class="fa fa-home"></i>Negocios MIVANI</a></li>
      </ul>

      <span class="heading">Preventas</span>

      <ul class="list-unstyled mb-0">
        <li *ngFor="let menu of auth.getMenus()">
          <a class="cursor-pointer" (click)="navegar(menu.url)"> <i class="fa fa-money"></i> {{menu.nombre}}</a>
        </li>
      </ul>

      <span class="heading">Ventas</span>

      <ul class="list-unstyled mb-0">
        <li><a routerLink="/ventas"> <i class="fa fa-money"></i>Ventas </a></li>
        <li><a routerLink="/ventas/repventas"> <i class="fa fa-money"></i>Reportes </a></li>
      </ul>

      <span class="heading">Compras</span>

      <ul class="list-unstyled mb-0">
        <li><a routerLink="/compras"> <i class="fa fa-money"></i>Compras </a></li>
        <li><a routerLink="/compras/repcompras"> <i class="fa fa-money"></i>Reportes </a></li>
      </ul>

    </nav>

    <div class="content-inner">
      <router-outlet></router-outlet>
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p>Derechos Reservados &copy; 2020</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>